<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>minetest</string>
	<key>CFBundleIconFile</key>
	<string>minetest-icon.icns</string>
	<key>CFBundleName</key>
	<string>Minetest</string>
	<key>CFBundleDisplayName</key>
	<string>Minetest</string>
	<key>CFBundleIdentifier</key>
	<string>net.minetest.minetest</string>
	<key>NSHighResolutionCapable</key>
	<false/>
</dict>
</plist>
