<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>luanti</string>
	<key>CFBundleIconFile</key>
	<string>luanti-icon.icns</string>
	<key>CFBundleName</key>
	<string>Luanti</string>
	<key>CFBundleDisplayName</key>
	<string>Luanti</string>
	<key>CFBundleIdentifier</key>
	<string>org.luanti.luanti</string>
	<key>NSHighResolutionCapable</key>
	<false/>
</dict>
</plist>
