[Desktop Entry]
Name=Minetest
GenericName=Minetest
Comment=Multiplayer infinite-world block sandbox game platform
Comment[de]=Mehrspieler-Sandkasten-Spielplattform für unendliche Welten
Comment[es]=Plataforma de juegos multijugador de bloques de mundo infinito
Comment[fr]=Plateforme de jeu multijoueur bac à sable avec des mondes infinis
Comment[ja]=マルチプレイヤー・インフィニット・ワールド・ブロックサンドボックス・ゲーム・プラットフォーム
Comment[ru]=Многопользовательская игровая платформа для песочницы с бесконечным миром
Comment[tr]=Çok oyunculu sonsuz dünya blok sandbox oyun platformu
Exec=minetest
Icon=minetest
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
Categories=Game;Simulation;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
