BasedOnStyle: LLVM
Standard: Cpp11

IndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4
ColumnLimit: 90
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
FixNamespaceComments: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: InlineOnly
SortIncludes: false
IncludeCategories:
  - Regex:           '^".*'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        1
AlignAfterOpenBracket: DontAlign
BreakConstructorInitializers: AfterColon
AlwaysBreakTemplateDeclarations: Yes
