[submodule "games/minetest_game"]
	path = games/minetest_game
	url = https://github.com/minetest/minetest_game.git
[submodule "lib/irrlichtmt"]
	path = lib/irrlichtmt
	url = https://github.com/Astera-org/irrlicht
	branch = headless
