## Generic ignorable patterns and files
*~
.*.swp
.*-swp
*bak*
tags
*.vim
*.orig
*.rej

## Files related to minetest development cycle
/*.patch

## Non-static Minetest directories
/bin/
/games/*
!/games/minimal/
/cache/
/textures/*
!/textures/base/
/sounds/
/mods/*
!/mods/minetest/
/mods/minetest/*
!/mods/minetest/mods_here.txt
/worlds/
/world/

## Configuration/log files
minetest.conf
debug.txt

## Doxygen files
doc/Doxyfile
doc/html/
doc/doxygen_*

## Build files
CMakeFiles
Makefile
!build/android/Makefile
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
src/android_version.h
src/android_version_githash.h
src/cmake_config.h
src/cmake_config_githash.h
src/lua/build/
locale/
.directory
.kdev4/
*.cbp
*.kdev4
*.layout
*.o
*.a

## Android build files
build/android/assets
build/android/bin
build/android/Debug
build/android/deps
build/android/gen
build/android/jni/src
build/android/libs
build/android/obj
build/android/path.cfg
build/android/and_env
build/android/AndroidManifest.xml
timestamp

