repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
        exclude: '^util/'
      - id: ruff-format
        types: [python]
        exclude: '^util/'
