# This file is read by default from:
# ../minetest.conf
# ../../minetest.conf
# Any other path can be chosen by passing the path as a parameter
# to the program, eg. "minetest.exe ../minetest.conf.example"
#
# By default, all the settings are commented and not functional.
# Uncomment settings by removing the preceding #.

#
# Client side stuff
#

#wanted_fps = 30
#fps_max = 60
#viewing_range_nodes_max = 300
#viewing_range_nodes_min = 35
#screenW = 800
#screenH = 600
#port = 30000
#address = kray.dy.fi
#name = 

# Whether to try to fog out the border of the visible area
#enable_fog = true
# Enable a bit lower water surface; disable for speed
#new_style_water = true
# Enable nice leaves; disable for speed
#new_style_leaves = true
# Whether to draw a frametime graph
#frametime_graph = false
# Enable combining mainly used textures to a bigger one
#enable_texture_atlas = true
# Path to texture directory
#texture_path =
# Possible values: null, software, burningsvideo, direct3d8, direct3d9, opengl
#video_driver = opengl

# 
#random_input = false
#client_delete_unused_sectors_timeout = 1200

#
# Server side stuff
#

#map-dir = /home/palle/custom_map

#plants_amount = 1.0
#ravines_amount = 1.0
#coal_amount = 1.0

# Set to true to enable creative mode (unlimited inventory)
#creative_mode = false
# Player and object positions are sent at intervals specified by this
#objectdata_inverval = 0.2

#active_object_range = 2

#max_simultaneous_block_sends_per_client = 1
#max_simultaneous_block_sends_server_total = 4

#max_block_send_distance = 5
#max_block_generate_distance = 4

# 20 min/day
#time_speed = 72
# 4 min/day
#time_speed = 360
# 1 min/day
#time_speed = 1440

#time_send_interval = 5
#server_unload_unused_sectors_timeout = 60
#server_map_save_interval = 60

