#server_list table {
	max-width: 100%;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: small;
}

#server_list td, #server_list th {
	border: 1px solid gray;
}

.hover_list{
	visibility: hidden;
	border: gray solid 1px;
	position: absolute;
	z-index: 100;
	background-color: white;
	padding: 0.5em;
}

td:hover .hover_list {
	visibility: visible;
}

.hover_list_text, .tooltip {
	text-decoration: underline;
	text-decoration-style: dashed;
}

